.ew-required {
    color:
    #dc3545;
    margin-left: .5em;
    font-size: 50%;
    vertical-align: super;
}
.form-control {
    width:auto;
}

.app-header__logo .logo-src {
	background: url(/static/images/header_logo.png) 50% 50% no-repeat;
	height: 17px;
	width: 68px;
}

/*made sidebar text hide on sidebar collapse*/
.header-mobile-open .app-sidebar .custom-logo-text {
    display: none;
}

/*diagonal strikethrough*/
.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}