{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Form Controls - Wide selection of forms controls, using the Bootstrap 4 code base, but built with React.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta name="description" content="Wide selection of forms controls, using the Bootstrap 4 code base, but built with React.">
    <link rel="icon" href="favicon.ico">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- jQuery -->
    <script src="{% static 'plugins/jquery/jquery.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'kendoui/css/kendoui.css' %}" >
    <link rel="stylesheet" href="{% static 'main.css' %}" >
    <link rel="stylesheet" href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}" >
    <link rel="stylesheet" href="{% static 'plugins/pace/themes/blue/pace-theme-flash.css' %}" />
    <script src="{% static 'plugins/pace/pace.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}" />
    <script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" />
    <script src="{% static 'plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>

</head>

<body>
<div id="content_body">

</div>

<!-- sweetalert2 -->
<script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}" ></script>
<!-- kendo App -->
<script src="{% static 'kendoui/js/kendoui.js' %}" ></script>

<script>
   const EW = {
       LANGUAGE_ID: "en",
       PAGE_ID: "",
       API_URL: "", // API file name
       action: {
           List: '{{ actions.List.code }}'
           , Add: '{{ actions.Add.code }}'
           , Edit: '{{ actions.Edit.code }}'
           , SubmitAdd: '{{ actions.SubmitAdd.code }}'
           , SubmitEdit: '{{ actions.SubmitEdit.code }}'
           , Delete: '{{ actions.Delete.code }}'
           , ExcelExport: '{{ actions.ExcelExport.code }}'
       },
       records_per_page:{{ EW.records_per_page }}
       , js_notification_timer:{{ EW.js_notification_timer }}
        , notification_icon:'{{ EW.notification_icon }}'
        , notification_click_url:'{{ EW.notification_click_url }}'
   }
</script>
<script src="{% static 'global_code.js' %}" ></script>

<script>


//start the pace library
$(document).ajaxStart(function() { Pace.restart(); });

function front_end_showForm(action)
{
    var object = 'front_end';
    var object_id = null;
        $.ajax({
        type: "POST",
        cache: false,
        url: "api",
        dataType :"json",
        data: { rand_time: new Date().getTime(), api_object: object, api_action: action, object_id: object_id} ,
        success: function(response){
          //console.log(response);
          //read data out
          if(response.error === false)
          {
            var html = response.html;
            $("#content_body").html(html);

          }
          else
          {
               //show error message
              ShowFailureMessage(response.error_msg)
              console.log('failed to pick '+action+' error:'+response.error_msg);
          }
        },
        error: function(data){
        console.log('failed to Load form:',data);
        //show error message
        ShowFailureMessage("Oops Server failed to complete this request, Check your Internet Connection");

        }
        });


}






$(function () {
//load first page
front_end_showForm('register_insurance_form');
});


</script>

</body>
</html>
