{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}" >
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'adminlte/css/adminlte.min.css' %}" >
    <link rel="stylesheet" href="{% static 'main.css' %}" >
    <link rel="stylesheet" href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}" >
    <link rel="stylesheet" href="{% static 'plugins/pace/themes/blue/pace-theme-flash.css' %}" />
  <script src="{% static 'plugins/pace/pace.js' %}"></script>
  </head>
<body class="hold-transition login-page">

<div class="login-box">
  <div class="login-logo">
    <a href="javascript:void(0);"><b>{{ title }}</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <div >
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" id="user_name" name="user_name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" id="password" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <a href="javascript:void(0);" class="btn btn-primary btn-block btn-flat" onclick="SubmitLoginForm()">Sign In</a>
          </div>
          <!-- /.col -->
        </div>
      </div>


      <p class="mb-1">
        <a href="#">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a href="#" class="text-center">Register </a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}" ></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}" ></script>
<!-- sweetalert2 -->
<script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}" ></script>
<!-- AdminLTE App -->
<script src="{% static 'adminlte/js/adminlte.min.js' %}" ></script>

<script>
   const EW = {
       LANGUAGE_ID: "en",
       PAGE_ID: "",
       API_URL: "", // API file name
       action: {
           List: '{{ actions.List.code }}'
           , Add: '{{ actions.Add.code }}'
           , Edit: '{{ actions.Edit.code }}'
           , SubmitAdd: '{{ actions.SubmitAdd.code }}'
           , SubmitEdit: '{{ actions.SubmitEdit.code }}'
           , Delete: '{{ actions.Delete.code }}'
           , ExcelExport: '{{ actions.ExcelExport.code }}'
       },
       records_per_page:{{ EW.records_per_page }}
   }
</script>
<script src="{% static 'global_code.js' %}" ></script>

<script>
//start the pace library
$(document).ajaxStart(function() { Pace.restart(); });

//load first page
//ShowForm('list','user_group');

    //atach enter handler
    $("#user_name").keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            SubmitLoginForm()
        }
    });
    $("#password").keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            SubmitLoginForm()
        }
    });

</script>

</body>
</html>
